<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor</h2>
    <img src="/images/foto.png" />
    <p> <%= autor %> </p>
  </body>
</html>
